<div class="alert toast-item alert-dismissible @ToastInstance.ToastTypeClass">
    <button type="button" class="btn-close" aria-label="Close" @onclick="ToastCloseAsync"></button>
    <h4 class="alert-heading">@ToastInstance.Header</h4>
    <hr>
    <p class="mb-0">@ToastInstance.Message</p>
</div>