@namespace HES.Web.Components

@if (ToastItems != null && ToastItems.Any())
{
    <div class="toasts-wrapper" style="z-index:1200">
        <CascadingValue Value=this>
            @foreach (var toastItem in ToastItems.OrderBy(x => x.TimeStamp))
            {
                <ToastItem @key="toastItem" ToastInstance="toastItem" />
            }
        </CascadingValue>
    </div>
}