@if (AccessProfile == null)
{
    <LoadingText />
}
else
{
    <div class="form-group">
        <h4 class="text-navyblue text-truncate">@AccessProfile.Name</h4>
    </div>
    <label class="text-gray">Authorization parameters</label>
    <table class="table border rounded w-100 disable-selection">
        <thead>
            <tr>
                <th></th>
                <th class="text-center align-middle px-1">
                    Pairing
                </th>
                <th class="text-center align-middle px-1">
                    Connection
                </th>
                <th class="text-center align-middle px-1">
                    Storage Access
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Button
                </td>
                <td class="text-center">
                    @if (AccessProfile.ButtonPairing)
                    {
                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No</span>
                    }
                </td>
                <td class="text-center">
                    @if (AccessProfile.ButtonConnection)
                    {
                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No</span>
                    }
                </td>
                <td class="text-center">
                    @if (AccessProfile.ButtonStorageAccess)
                    {
                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No</span>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    PIN
                </td>
                <td class="text-center">
                    @if (AccessProfile.PinPairing)
                    {
                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No</span>
                    }
                </td>
                <td class="text-center">
                    @if (AccessProfile.PinConnection)
                    {
                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No</span>
                    }
                </td>
                <td class="text-center">
                    @if (AccessProfile.PinStorageAccess)
                    {
                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No</span>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Server Confirmation
                </td>
                <td class="text-center">
                    @if (AccessProfile.MasterKeyPairing)
                    {
                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No</span>
                    }
                </td>
                <td class="text-center">
                    @if (AccessProfile.MasterKeyConnection)
                    {
                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No</span>
                    }
                </td>
                <td class="text-center">
                    @if (AccessProfile.MasterKeyStorageAccess)
                    {
                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <label class="text-gray">PIN settings</label>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                PIN expiration
                <span class="badge bg-primary">@AccessProfile.PinExpirationString</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                PIN length
                <span class="badge bg-primary">@AccessProfile.PinLength</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                PIN incorrect entry
                <span class="badge bg-primary">@AccessProfile.PinTryCount</span>
            </li>
        </ul>
    </div>
    <div class="text-end">
        <button type="button" class="btn btn-secondary" @onclick="async () => await ModalDialogService.CancelAsync()">Close</button>
    </div>
}