@namespace HES.Web.Components
@inherits HESDomComponentBase

<div class="d-flex justify-content-between" style="margin: -0.25rem -0.25rem 1rem -0.25rem !important;">
    <div class="d-flex align-items-center flex-nowrap overflow-auto p-1">
        @ActionButtons
    </div>
    <div class="d-flex align-items-center flex-nowrap overflow-auto p-1">
        <button type="button" class="btn btn-outline-teal me-2" title="Refresh table" @onclick="RefreshAsync">
            <div class="d-flex justify-content-between">
                <div class="refresh-icon btn-icon me-2"></div>
                Refresh
            </div>
        </button>
        @if (ShowFilterButton)
        {
            <button type="button" class="btn btn-outline-teal me-2" data-bs-toggle="collapse" data-bs-target="#filter-collapse" aria-expanded="false" aria-controls="filter-collapse" title="Filter">
                <div class="d-flex justify-content-between">
                    <div class="filter-icon btn-icon me-2"></div>
                    Filters
                </div>
            </button>
        }
        <input type="text" @bind-value="SearchText" @bind-value:event="oninput" @onkeyup="@SearchBoxKeyUp" class="form-control input-search-icon" placeholder="Search" data-toggle="tooltip" data-placement="top" title="@TooltipText">
    </div>
</div>
<div id="filter-collapse" class="collapse @(CollapseFilter ? "show" : "") mb-3">
    <div class="card shadow">
        <div class="card-body">
            @FilterForm
        </div>
    </div>
</div>