@inherits HESModalBase

<h5 class="text-gray mb-4 ">Confirm deleting domain credentials.</h5>
<div class="form-footer">
    <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
    <Button Text="Delete" class="btn btn-danger" OnClick="DeleteAsync" />
</div>