@inherits HESModalBase

<h5 class="text-gray mb-4 ">Confirm deleting service provider.</h5>
<div class="form-footer">
    <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
    <Button Text="@Resource.Btn_Delete" class="btn btn-danger" OnClick="DeleteAsync" />
</div>