@inherits HESModalBase

<EditForm Model="Position" OnValidSubmit="CreateAsync">
    <DataAnnotationsValidator />
    <ValidationErrorMessage @ref="ValidationErrorMessage" />
    <div class="form-group">
        <FormLabel For="@(() => Position.Name)" class="text-gray" />
        <InputText @bind-Value="Position.Name" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Position.Name)" class="text-danger" />
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
        <Button @ref="Button" Text="Create" type="submit" class="btn btn-primary" />
    </div>
</EditForm>