@inherits HESModalBase

<EditForm Model="Company" OnValidSubmit="CreateAsync">
    <DataAnnotationsValidator />
    <ValidationErrorMessage @ref="ValidationErrorMessage" />
    <div class="form-group">
        <Label For="@(() => Company.Name)" class="text-gray" />
        <InputText @bind-Value="Company.Name" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Company.Name)" class="text-danger" />
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
        <Button @ref="Button" Text="@Resource.Btn_Create" type="submit" class="btn btn-primary" />
    </div>
</EditForm>