@inherits HESModalBase

<EditForm Model="Department" OnValidSubmit="CreateAsync">
    <DataAnnotationsValidator />
    <ValidationErrorMessage @ref="ValidationErrorMessage" />
    <div class="form-group">
        <Label For="@(() => Department.Name)" class="text-gray" />
        <InputText @bind-Value="Department.Name" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Department.Name)" class="text-danger" />
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
        <Button @ref="Button" type="submit" Text="Create" class="btn btn-primary" />
    </div>
</EditForm>