@inherits HESModalBase

@if (!Initialized)
{
    <Loader />
}
else
{
    @if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="@Department.Name" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <h5 class="text-gray mb-4 text-break">@string.Format(Resource.OrgStructure_DeleteDepartment_Body, Department.Name)</h5>
        <div class="form-footer">
            <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
            <Button Text="@Resource.Btn_Delete" OnClick="DeleteAsync" class="btn btn-danger" />
        </div>
    }
}