@inherits HESModalBase

@if (Initialized)
{
    <div class="alert alert-warning" role="alert">
        <p class="my-0">
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
    </div>
    <div>
        <EditForm Model="PasswordModel" OnValidSubmit="DeletePersonalDataAsync">
            <DataAnnotationsValidator />
            <div class="form-group">
                <Label For="@(() => PasswordModel.Password)" class="text-gray form-label" />
                <InputText type="password" @bind-Value="PasswordModel.Password" class="form-control" />
                <ValidationMessage For="@(() => PasswordModel.Password)" class="text-danger" />
            </div>
            <div class="text-end">
                <button type="button" @onclick="ModalDialogCancel" class="btn btn-secondary">Cancel</button>
                <Button @ref="ButtonSpinner" Text="Delete data and close my account" class="btn btn-danger" type="submit" />
            </div>
        </EditForm>
    </div>
}
else
{
    <Loader />
}