@inherits OwningComponentBase

@if (Initialized)
{
    <div class="mb-3">
        Remove security key?
    </div>
    <div>
        If you remove this security key, you will not be able to use it to sign in with your account.
    </div>
    <div class="text-end">
        <button type="button" @onclick="@(async () => await ModalDialogService.CancelAsync())" class="btn btn-secondary">Cancel</button>
        <button type="button" @onclick="DeleteSecurityKeyAsync" class="btn btn-danger">Remove</button>
    </div>
}
else
{
    <LoadingText />
}