@inherits HESModalBase

@if (Initialized)
{
    <div class="mb-3">
        @Resource.Profile_Security_DeleteSecurityKey_Body
    </div>
    <div class="form-footer">
        <button type="button" @onclick="ModalDialogCancel" class="btn btn-secondary">@Resource.Btn_Cancel </button>
        <button type="button" @onclick="DeleteSecurityKeyAsync" class="btn btn-danger">@Resource.Btn_Delete</button>
    </div>
}
else
{
    <Loader />
}