@inherits HESModalBase

@if (Initialized)
{
    <div class="mb-3">
        Remove security key?
    </div>
    <div class="mb-3">
        If you remove this security key, you will not be able to use it to sign in with your account.
    </div>
    <div class="form-footer">
        <button type="button" @onclick="ModalDialogCancel" class="btn btn-secondary">Cancel</button>
        <button type="button" @onclick="DeleteSecurityKeyAsync" class="btn btn-danger">Remove</button>
    </div>
}
else
{
    <Loader />
}