@inherits HESModalBase

@if (Initialized)
{
    <EditForm Model="EditSecurityKeyModel" OnValidSubmit="UpdateSecurityKeyAsync">
        <DataAnnotationsValidator />
        <div class="form-group">
            <Label For="@(() => EditSecurityKeyModel.Name)" class="text-gray" />
            <InputText @bind-Value="EditSecurityKeyModel.Name" class="form-control" />
            <ValidationMessage For="@(() => EditSecurityKeyModel.Name)" class="text-danger" />
        </div>    
        <div class="form-footer">
            <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
            <Button @ref="ButtonSpinner" Text="@Resource.Btn_Save" type="submit" class="btn btn-danger" />
        </div>
    </EditForm>
}
else
{
    <Loader />
}