<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @HES.Core.Constants.AppConstants.ServerShortName</title>
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container vh-100">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/qrcode/qrcode.min.js" asp-append-version="true"></script>
    <script src="~/js/fido2.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>