@page "/forgot-password-confirmation"
@model HES.Web.Pages.Identity.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row h-100 justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-navyblue">@ViewData["Title"]</h1>
        <p class="text-gray">Please check your email to reset your password.</p>
        <a href="@HES.Core.Constants.Routes.Login">Go to login page</a>
    </div>
</div>