@page "/lockout"
@model HES.Web.Pages.Identity.LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="row h-100 justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
        <a href="@Routes.Login">Go to login page</a>
    </div>
</div>
