@inherits HESModalBase

<h5 class="text-gray mb-4 ">@string.Format(Resource.Workstations_DeleteProximityVault_Body, WorkstationProximityVault.HardwareVaultId)</h5>
<div class="form-footer">
    <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
    <Button Text="@Resource.Btn_Delete" OnClick="DeleteVaultAsync" class="btn btn-danger" />
</div>