@inherits HESModalBase

@if (!Initialized)
{
    <LoadingText />
}
else
{
    @if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="workstation" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <h5 class="text-gray mb-4 ">You want to delete workstation @Workstation.Name?</h5>
        <div class="form-footer">
            <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
            <Button class="btn btn-danger" Text="Delete" OnClick="DeleteAsync" />
        </div>
    }
}