@inherits HESComponentBase

<div class="alert alert-warning" role="alert">
    <b>Are you sure you want to turn off the alarm and unlock all workstations?</b>
</div>
<div class="form-group">
    <label class="control-label text-gray">Please enter your password to confirm</label>
    <input type="password" @bind-value="UserConfirmPassword" @bind-value:event="oninput" class="form-control" />
</div>
<div class="form-footer">
    <button type="button" class="btn btn-secondary" @onclick="@(async () => await  ModalDialogInstance.CloseAsync(ModalResult.Cancel))">Cancel</button>
    <Button Text="Confirm" OnClick="DisableAlarmAsync" class="btn btn-primary" />
</div>