@inherits HESModalBase

<div class="alert alert-warning" role="alert">
    <b>@Resources.Alarm_DisableAlarm_Body</b>
</div>
<div class="form-group">
    <label class="control-label text-gray">@Resources.Alarm_DisableAlarm_Confirm</label>
    <input type="password" @bind-value="UserConfirmPassword" @bind-value:event="oninput" class="form-control" />
</div>
<div class="form-footer">
    <button type="button" class="btn btn-secondary" @onclick="ModalDialogClose">@Resources.Btn_Cancel</button>
    <Button Text="@Resources.Btn_Confirm" OnClick="DisableAlarmAsync" class="btn btn-primary" />
</div>