@inherits HESModalBase
<div>
    <div class="alert alert-warning rounded-0 form-group" role="alert">
        <b>Are you sure you want to turn on the alarm and lock all workstations?</b>
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
        <Button Text="Confirm" OnClick="EnableAlarmAsync" class="btn btn-danger" />
    </div>
</div>