@inherits HESModalBase
<div>
    <div class="alert alert-warning rounded-0 form-group" role="alert">
        <b>@Resource.Alarm_EnableAlarm_Body</b>
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
        <Button Text="@Resource.Btn_Confirm" OnClick="EnableAlarmAsync" class="btn btn-danger" />
    </div>
</div>