@namespace HES.Web.Components
<h5 class="mb-3">@string.Format(Resource.Label_EditedByAnother, EntityName)</h5>
<div class="text-end">
    <button type="button" class="btn btn-secondary" @onclick="@(async () => await  CloseAction.InvokeAsync(this))">@Resource.Btn_Close</button>
</div>

@code {
    [Parameter] public string EntityName { get; set; }
    [Parameter] public EventCallback CloseAction { get; set; }
}
