@namespace HES.Web.Components
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
    <div>
        <h4>@Resource.LoadingFailed_Title</h4>
        <h5>@Resource.LoadingFailed_Description</h5>
        <p>
            <strong>@Resource.Label_Description:</strong> @ErrorMessage
        </p>
    </div>
</div>

@code {
    [Parameter] public string ErrorMessage { get; set; }
}