@inherits HESModalBase

@if (!Initialized)
{
    <Loader />
}
else
{
    @if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="hardware vault" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <h5 class="text-gray mb-3 ">You want to remove vault @HardwareVault.Id? When removing the last vault, all accounts will be deleted.</h5>
        <div class="form-group">
            <label class="text-gray">Select the reason</label>
            <select @bind="Reason" class="form-select">
                <option valut="@VaultStatusReason.Withdrawal" selected>Withdrawal</option>
                <option valut="@VaultStatusReason.Broken">Broken</option>
            </select>
        </div>
        <div class="form-footer">
            <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
            <Button Text="Delete" class="btn btn-danger" OnClick="DeleteVaultAsync" />
        </div>
    }
}