@inherits HESModalBase

@if (Account == null)
{
    <Loader />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="company" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <h5 class="text-gray mb-4 text-break">You want to delete @Account.AccountType.ToString().ToLower() account @Account.Name?</h5>
        <div class="form-footer">
            <button type="button" class="btn btn-secondary me-1" @onclick="ModalDialogCancel">Cancel</button>
            <Button Text="Delete" OnClick="DeleteAccoountAsync" class="btn btn-danger" />
        </div>
    }
}