@inherits HESModalBase

@if (Account == null)
{
    <Loader />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="account" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <EditForm Model="AccountOtp" OnValidSubmit="EditAccountOtpAsync">
            <DataAnnotationsValidator />
            <ValidationErrorMessage @ref="ValidationErrorMessage" />
            <div class="form-group">
                <h5 class="text-navyblue">@Account.Name</h5>
            </div>
            <div class="form-group">
                <FormLabel For="@(() => AccountOtp.OtpSecret)" class="text-gray" />
                <InputText @bind-Value="AccountOtp.OtpSecret" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => AccountOtp.OtpSecret)" class="text-danger" />
            </div>
            <div class="form-footer">
                <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
                <Button @ref="ButtonSpinner" Text="Save" type="submit" class="btn btn-primary" />
            </div>
        </EditForm>
    }
}