@inherits HESModalBase

@if (Employee == null)
{
    <Loader />
}
else
{
    <h5 class="text-gray mb-4 text-break">@string.Format(Resource.EmployeeDetails_DisableSso_Body, Employee.FullName)</h5>
    <div class="form-footer">
        <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
        <Button Text="@Resource.Btn_Disable" OnClick="DisableEmployeeSsoAsync" class="btn btn-danger" />
    </div>
}