@inherits HESModalBase

@if (!Initialized)
{
    <Loader />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="account" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <div class="mb-3">
            <h5 class="text-navyblue">Confirm generate password for @Account.Name<span>.</span></h5>
        </div>
        <div class="form-footer">
            <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
            <Button class="btn btn-primary" Text="Generate" OnClick="GenerateAccountPasswordAsync" />
        </div>
    }
}