@inherits HESModalBase

@if (Initialized)
{
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>@Resource.Profile_Security_Disable2fa_Header</strong>
        </p>
        <p>
            @Resource.Profile_Security_Disable2fa_Description
        </p>
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
        <Button class="btn btn-danger" type="button" Text="@Resource.Btn_Disable" OnClick="DisableTwoFactorAsync" />
    </div>
}
else
{
    <Loader />
}