@inherits HESComponentBase

@if (Initialized)
{
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
        </p>
        <p>
            This process disables 2FA until you verify your authenticator app.
            If you do not complete your authenticator app configuration you may lose access to your account.
        </p>
    </div>
    <div class="text-end">
        <button type="button" @onclick="@(async () => await ModalDialogService.CancelAsync())" class="btn btn-secondary">Close</button>
        <Button class="btn btn-danger" type="button" Text="Reset authenticator key" OnClick="ResetAuthenticatorKeyAsync" />
    </div>
}
else
{
    <Loader />
}