@inherits HESModalBase

@if (Initialized)
{
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>@Resource.Profile_Security_ResetAuthenticator_Description</strong>
        </p>
        <p>
            @Resource.Profile_Security_ResetAuthenticator_SubDescription
        </p>
    </div>
    <div class="text-end">
        <button type="button" @onclick="ModalDialogCancel" class="btn btn-secondary">@Resource.Btn_Close</button>
        <Button class="btn btn-danger" type="button" Text="@Resource.Btn_ResetAuthenticatorKey" OnClick="ResetAuthenticatorKeyAsync" />
    </div>
}
else
{
    <Loader />
}