@page "/settings/data-protection/activate"
@layout BlankLayout
@attribute [Authorize(Roles = ApplicationRoles.Admin)]

<div class="container-fluid vh-100">
    <div class="content-centered">
        <div class="custom-card">
            <div class="text-center m-3">
                <img src="/svg/hideez-es-logo.svg" />
            </div>
            <EditForm Model="Input" OnValidSubmit="ActivateAsync">
                <DataAnnotationsValidator />
                <ValidationErrorMessage @ref="ValidationErrorMessage" />
                <h4 class="text-navyblue text-center my-4">Enter encryption password</h4>
                <div class="form-group">
                    <Label For="@(() => Input.Password)" class="text-gray" />
                    <InputText @bind-Value="Input.Password" class="form-control" type="password" />
                    <ValidationMessage For="@(() => Input.Password)" class="text-danger" />
                </div>
                <div class="text-end">
                    <Button @ref="Button" type="submit" Text="Next" class="btn btn-primary" />
                </div>
            </EditForm>
        </div>
    </div>
</div>