<div class="container">
    <div class="row vh-100 align-items-center">
        <div class="col-6 text-end">
            <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.1" d="M43.6531 3.28356L6.91853 30.8949C4.05266 33.0454 1.91694 36.0939 0.821109 39.5983C-0.274719 43.1026 -0.273677 46.8806 0.824084 50.3842L14.8094 94.8361C15.8991 98.3063 18.0102 101.328 20.8413 103.47C23.6724 105.613 27.0788 106.766 30.5744 106.765H76.1903C79.6859 106.766 83.0923 105.613 85.9234 103.47C88.7545 101.328 90.8656 98.3063 91.9553 94.8361L105.941 50.3842C107.038 46.8806 107.039 43.1026 105.944 39.5983C104.848 36.0939 102.712 33.0454 99.8462 30.8949L63.0613 3.28356C60.238 1.14909 56.842 0 53.3572 0C49.8723 0 46.4764 1.14909 43.6531 3.28356V3.28356Z" fill="#22446D" />
                <path d="M67.3334 116C92.0021 116 112 96.002 112 71.3332C112 46.6645 92.0021 26.6665 67.3334 26.6665C42.6647 26.6665 22.6667 46.6645 22.6667 71.3332C22.6667 96.002 42.6647 116 67.3334 116Z" fill="#F6346B" />
                <path d="M63.965 73.7957L62.9505 58.6157C62.7603 55.6573 62.6667 53.5334 62.6667 52.2453C62.6667 50.492 63.1262 49.1238 64.0439 48.1418C64.9627 47.1565 66.1743 46.6665 67.6734 46.6665C69.4909 46.6665 70.7071 47.2949 71.3186 48.5517C71.9301 49.8097 72.2374 51.6227 72.2374 53.9864C72.2374 55.3816 72.1631 56.7994 72.0168 58.2329L70.6532 73.8577C70.5057 75.7179 70.1891 77.1435 69.7016 78.1379C69.2152 79.1298 68.4111 79.6255 67.2927 79.6255C66.1509 79.6255 65.359 79.147 64.9166 78.1842C64.4718 77.2245 64.1543 75.7606 63.965 73.7957ZM67.4829 94.649C66.1936 94.649 65.0674 94.2333 64.108 93.3991C63.1464 92.5657 62.6667 91.398 62.6667 89.8981C62.6667 88.5874 63.1262 87.4724 64.0439 86.5523C64.9627 85.6335 66.0889 85.1739 67.42 85.1739C68.752 85.1739 69.8851 85.6323 70.8265 86.5523C71.7667 87.4711 72.2374 88.5871 72.2374 89.8981C72.2374 91.3767 71.7622 92.5378 70.8094 93.3835C69.859 94.2264 68.7508 94.649 67.4829 94.649Z" fill="#F4FEFF" />
            </svg>
        </div>
        <div class="col-6">
            <h1 class="text-danger">@Title</h1>
            <p>@Description</p>
        </div>
    </div>
</div>

@code{
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
}