@inherits LayoutComponentBase
@using HES.Web.Components

<RedirectToDataProtectionActivate />
<ModalDialogsWrapper />
<ToastsWrapper />
<div class="d-flex">
    <div class="custom-sidebar">
        <NavMenu />
    </div>
    <div class="d-flex flex-column custom-main">
        <NavBar />
        <div class="custom-content p-4">
            @Body
        </div>
    </div>
</div>