<div class="container">
    <div class="row vh-100 align-items-center">
        <div class="col-6 text-end">
            <img style="width:250px;" src="/svg/icon-not-found.svg" />
        </div>
        <div class="col-6">
            <h1>@Resource.NotFound_Title</h1>
            <p>@Resource.NotFound_Description</p>
        </div>
    </div>
</div>