@inherits HESModalBase

<EditForm Model="Invitation" OnValidSubmit="InviteAdminAsync">
    <DataAnnotationsValidator />
    <ValidationErrorMessage @ref="ValidationErrorMessage" />
    <div class="form-group">
        <Label For="@(() => Invitation.Email)" class="text-gray" />
        <InputText @bind-Value="Invitation.Email" class="form-control text-navyblue" />
        <ValidationMessage For="@(() => Invitation.Email)" class="text-danger" />
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
        <Button @ref="ButtonSpinner" Text="@Resource.Btn_Invite" type="submit" class="btn btn-primary" />
    </div>
</EditForm>